/* ##########
   General
########## */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #252525;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

/* ##########
   Buttons
########## */

.btn {
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;
  background: #00b5d6;
  color: #fff;
  font-weight: bold;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.questions-toggle-btn {
  width: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 2px ;
}

.questions-toggle-btn:disabled {
  background: #00b5d6;
  color: #fff;
  cursor: not-allowed;
  box-shadow: none;
}

.logout-btn {
  display: flex;
  align-items: center;
  background: #00b5d6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login-btn {
  display: inline-block;
}

.vl {
  border-left: 2px solid #dad7d7;
  height: 100%;
  vertical-align: middle;
  justify-content: right;
}

.sign-in-top,
.sign-in-bottom  {
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
}

.sign-in-top {
  border-radius: 10px 10px 0px 0px;
  background-color: #f3f4f5;
  border: 2px solid #dad7d7;
}

.sign-in-bottom {
  border-radius: 0px 0px 10px 10px;
  border-left: 2px solid #dad7d7;
  border-right: 2px solid #dad7d7;
  border-bottom: 2px solid #dad7d7;
}

.user-select {
  padding: 10px;
  cursor: pointer;
  background: #fff;
  width: 450px;
  position: relative;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #00b5d6;
}

.nav-authedUser {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #00b5d6;
}

.authed-user {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.authed-user ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  width: 50%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.avatar {
  width: 25%;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid #dad7d7;
}

.list-container {
  margin: 0 auto;
  border: 2px solid #dad7d7;
  max-width: 600px;
}

.questions-toggle {
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid #dad7d7;
  background-color: #f3f4f5;
}

.question {
  padding: 0px 10px 0px 0px;
  display: flex;
  margin: 0 auto;
  border: 2px solid #dad7d7;
  border-radius: 3px;
  align-items: center;
  justify-content: space-evenly;
  max-width: 590px;
}

.question-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.new-question-top,
.new-question-bottom  {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.new-question-top {
  border-radius: 10px 10px 0px 0px;
  background-color: #f3f4f5;
  border: 2px solid #dad7d7;
}

.new-question-bottom {
  border-radius: 0px 0px 10px 10px;
  border-left: 2px solid #dad7d7;
  border-right: 2px solid #dad7d7;
  border-bottom: 2px solid #dad7d7;
}

.results-container {
  max-width: 470px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.results {
  display: flex;
  margin: 0 auto;
  border: 2px solid #dad7d7;
  align-items: center;
  justify-content: space-evenly;
  max-width: 590px;
}

.results-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid #dad7d7;
  width: 100%;
  border-radius: 10px;
}

.input {
  padding: 10px;
  cursor: auto;
  background: #fff;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  border-radius: 4px;
  border: 2px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.leaderboard {
  display: flex;
  border: 2px solid #dad7d7;
  align-items: center;
  justify-content: space-between;
  max-width: 590px;
}

.leaderboard-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.leaderboard-score {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#blue-circle {
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  background-color: #00b5d6;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.trophy {
  margin: 10px;
  display: flex;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 10px;
  cursor:default;
}

.your-selection {
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #00b5d6;
  color: #fff;
  font-weight: bold;
  border-radius: 25%;
}

.list-container,
.question,
.question-info,
.results-container,
.results,
.leaderboard, 
button {
  border-radius: 10px;
}


/* .list-container {
  box-shadow: 0px 0px 1px ;
}

.question,
.results-container,
.results,
.leaderboard,
.btn:hover, */
