body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.vl {
  border-left: 2px solid #dad7d7;
  height: 100%;
  vertical-align: middle;
  margin: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.sign-in {
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid rgba(0,0,0,.29);
}

.questions-toggle-btn {
  width: 50%;
}

.questions-toggle-btn:disabled {
  background: #00b5d6;
  color: #252525;
}

.logout-btn {
  display: flex;
  align-items: center;
  background: #00b5d6;
  color: #fff;
  font-weight: bold;
}

.btn {
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.btn:disabled {
  cursor: not-allowed;
}

.user-select {
  padding: 10px;
  cursor: pointer;
  background: #fff;
  width: 450px;
  position: relative;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #00b5d6;
}

.nav-authedUser {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #00b5d6;
}

.authed-user {
  width: 50%;
}

.authed-user ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  align-items: center;
}

.nav {
  width: 50%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.list-container {
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #dad7d7;
  max-width: 600px;
}

.questions-toggle {
  padding: 10px;
  border-bottom: 2px solid #dad7d7;;
}

.question {
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 2px solid #dad7d7;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.results-container {
  padding: 10px;
  max-width: 590px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.results {
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 2px solid #dad7d7;
  border-radius: 3px;
  align-items: center;
}

.question-info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.results-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid #dad7d7;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0,0,0,.29);
}

#header {
  border-bottom: none;
}

.input {
  padding: 10px;
  cursor: auto;
  background: #fff;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  border-radius: 4px;
  border: 2px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.leaderboard-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#blue-circle {
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  background-color: #00b5d6;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.trophy {
  margin: 10px;
  display: flex;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 10px;
  cursor:default;
}

.your-selection {
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  border-style: dotted;
  background-color: #00b5d6;
  color: #fff;
  font-weight: bold;
}